body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.demo-wrap {
    position: relative;
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.demo-content {
    height: 100vh;
    width: 100vw;
}